#user_info {
	padding: 0 1rem;
	z-index: 100;
	position: relative;
	line-height: 51px;
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	#username {
		color: #969696;
		font-size: 14px;
	    font-weight: 500;
	}
	#dropdown_arrow {
		color: #969696;
		margin-top: 10px;
		margin-left: 10px;
	}
}