#user_info {
	padding: 0 1rem;
	z-index: 100;
	position: relative;
	line-height: 53px;
	#username {
		color: #969696;
	}
	#dropdown_arrow {
		color: #969696;
		margin-top: 10px;
		margin-left: 10px;
	}
}