.feed {
	font-size: 15px;
	line-height: 1.5rem;
	height: 1.5rem;
	margin-right: 1px;
	position: relative;
	clear: both;
	overflow: hidden;
	.feed_name {
		color: #D9D0FD;
	    display: block;
	    height: 1.5rem;
	    padding: 0 .5rem 0 15px;
	    border-radius: 999rem;
	    background-clip: padding-box;
	    text-decoration: none!important;
	    cursor: pointer;
	    .prefix_icon {
	    	color: #D9D0FD;
	    	margin-left: 0px;
	    	margin-right: 5px;
	    }
	}
	&:hover:not(.active) {
		.feed_name {
			background: rgba(0, 0, 0, .05);;
		}
	}
	&.active {
		.feed_name {
			background: #9B85F8;
			opacity: 1;
			color: #fff !important;
			font-weight: 600;
			.prefix_icon {
				color: #fff;
			}
		}
	}
	&.unread {
		.feed_name {
			color: #fff;
			font-weight: 900;
		}
	}
	.feed_item_actions {
		opacity: 0.95;
		color: #CEC3FD;
		&:hover {
			opacity: 1;
			color: #fff;
		}
	}
}
