#navigation {
	width: 255px;
	border-right: 1px solid #EDF0F6;
	// border-right: 1px solid #E1E1E1;
	// background: #f6f7f8;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}