#navigation {
	width: 300px;
	border-right: 1px solid #EDF0F6;
	position: relative;
	overflow: auto;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}