#message_list {
	padding: 1rem 0 1rem 0;
	margin: 0;
	clear: both;
}

.day_divider {
	background: #fff;
	margin: 1.2rem 0;
	padding: 0;
	font-size: .9rem;
	line-height: 1rem;
	color: #2c2d30;
	font-weight: 600;
	text-align: center;
	cursor: default;
	clear: both;
	position: relative;	
	hr {
		position: absolute;
		top: .75rem;
		right: 0;
		left: 0;
		margin: 0;
	}
	.day_divider_label {
		background: #fff;
		padding: .25rem .75rem;
		display: inline-block;
		margin: 0 auto;
		position: relative;
		border-radius: .25rem;
	}
}