.inline_log_in_form {
	z-index: 101;
	list-style-type: none;
	padding: 0;
	margin: 7px 25px 5px 0;
	li {
	    display: inline-block;
	    margin-left: 9px;
	    &.password {
	        position: relative;
	    }
	}
	label {
	    display: block!important;
	    font-size: 13px;
	    font-weight: 500;
	    margin: 0 0 .05rem;
	    color: #777F86;
	}
	a {
	    text-decoration: none;
	    display: block;
	    font-size: 13px;
	    font-weight: 400;
	    position: absolute;
	    opacity: .7;
	    color: #555459!important;
	    &:hover {
	    	color: #0084ff!important;
	    }
	}
	input {
		&:not([type='checkbox']) {
			font-size: 14.5px;
			height: 32px;
			padding-left: 5px;
			margin-bottom: 2px;
			&#sign_in_email {
			    min-width: 185px;
			}
		}
	}
	button {
		font-size: 13.5px;
		min-width: 65px;
		font-weight: 500;
	    &.disabled {
	        opacity: 0.8;
	    }
	}
	#keep_wrapper {
	    position: absolute;
	    width: 100%;
	    input {
	        position: absolute;
	        top: -0.5px;
	        height: 12.5px;
	    }
	    a {
	        display: inline!important;
	        margin-top: -5px;
	        position: absolute;
	        width: 100%;
	        top: 5.5px;
	        left: 20px;
	        color: #555459!important;
	    }
	}
}