.explore_box {
	font-size: 1rem;
	font-weight: 900;
	padding: 0.85rem 1rem 0;
	width: 275px;
	height: 55px;
	border-right: 1px solid #EDF0F6;
	cursor: pointer;
	position: relative;
	#branch_logo {
		height: 25px;
	}
}

#explore_form {
	margin: 0.85rem 10px 0;
	padding-right: 21px;
	width: 225px;
	position: absolute;
	top: 0;
	right: 6;
	.explore_input {
		padding: 1.5px 25px 1.5px 5px;
	    font-size: 14px;
	    font-weight: 400;
	    height: 1.9rem;
	    width: 100%;
	    background: #f6f7f8;
	    border: 1px solid rgba(214,214,214,.41);
	    margin-right: 0;
	    outline: 0;
	    &:hover {
	    	border-color: rgba(214,214,214,.61)
	    }
	    &:focus {
	    	background: #fff;
	    }
	}
	#explore_icon {
		position: absolute;
		font-size: .9rem;
		top: 8px;
		right: 30px;
		color: #CCC;
		opacity: 0.95;
	}
}

#open_branch_button_wrapper {
	margin: 0.85rem 1rem 0;
	position: absolute;
	top: 0;
	right: 0;
	#open_branch_icon {
		font-size: 14px;
		opacity: 0.75;
	}
}