.explore_box {
	font-size: 1rem;
	font-weight: 900;
	padding: 0.85rem 0.5rem 0;
	width: 255px;
	height: 55px;
	cursor: pointer;
	position: relative;
	background: #755CE0;
	border-bottom: 1px solid #6850D1;
	#branch_logo {
		height: 25px;
	}
}

#explore_form {
	margin: 0.75rem 10px 0;
	padding-right: 21px;
	width: 210px;
	position: absolute;
	top: 0; 
	right: 6;
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: #D9D0FD!important;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: #D9D0FD!important;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: #D9D0FD!important;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: #D9D0FD!important;
	}
	:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	  color: #D9D0FD!important;
	}
	.explore_input {
		padding: 1.25px 15px 1.5px 32px;
	    font-size: 14px;
	    font-weight: 400;
	    height: 1.9rem;
	    width: 100%;
	    background: #6A53C9;
	    color: #fff;
        border: none;
	    margin-right: 0;
	    outline: 0;
        transition: all .1s ease-in-out;
	    &:hover {
	    	// border-color: rgba(214,214,214,.91);
	    }
	    &:focus {
	    	// background: #fff;
	    }
	}
	#explore_icon {
		position: absolute;
		font-size: .9rem;
		top: 8px;
		left: 11px;
		color: #CEC3FD;
		&:hover, &.active {
			opacity: 1;
			color: #fff;
		}
	}
}

#open_branch_icon {
	position: absolute;
	top: 6px;
	right: 7px;
	font-size: 19px;
	opacity: 0.95;
	color: #CEC3FD;
	&:hover {
		opacity: 1;
		color: #fff;
	}
}

#open_branch_button_wrapper {
	margin: 0.85rem 1rem 0;
	position: absolute;
	top: 0;
	right: 0;

}