#chat_header {
	// background: #fff;
    height: 55px;
    position: fixed;
    z-index: 100;
    min-width: 8in;
    width: 100%;
    #chat_header_wrapper {
    	position: relative;
    	padding: 0;
    	margin: 0;
        // background: #fff;
        // background: #f6f7f8;
        border-bottom: 1px solid #EDF0F6;
        // border-bottom: 1px solid #E1E1E1;
    }
}