#feed_header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0 4rem 0 0;
	display: block;
	height: 53px;
	line-height: 53px;
	-webkit-transition: .15s;
	-moz-transition: .15s;
	transition: .15s;
	font-size: 1rem;
	font-weight: 500;
}