#feed_header {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0 4rem 0 0;
	display: block;
	height: 53px;
	line-height: 53px;
	-webkit-transition: .15s;
	-moz-transition: .15s;
	transition: .15s;
	font-size: 1rem;
	font-weight: 500;
	#name {
		font-size: 1rem;
	    line-height: 53px;
	    display: inline-block;
	    padding: 0 .1rem 0 1rem;
	    cursor: pointer;
	    color: #555459;
	    font-weight: 900;
	}
	#prefix_icon {
		color: #9e9ea6;
		padding-right: .1rem;
		font-weight: 500;
		-webkit-transition: color .15s ease-out 0s;
		-moz-transition: color .15s ease-out 0s;
		transition: color .15s ease-out 0s;
		cursor: pointer;
	}
	#members {
		margin-left: 15px;
		#member_icon {
			color: #9e9ea6;
			opacity: 0.65;
		}
		#member_count {
			display: inline-block;
			padding: 0 .1rem 0 .25rem;
			cursor: pointer;
			color: #555459;
			font-weight: 900;
		}
	}
}