// App style 
#app {
	font-family: "Open Sans";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow: auto;
	text-rendering: optimizeLegibility;
}

// Text overflow => ellipsis
:global .overflow_ellipsis {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
:global .clearfix:before,
:global .clearfix:after {
    content: " "; 
    display: table; 
}
:global .clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
:global .clearfix {
    *zoom: 1;
}


// Floats
:global .float_right {
	float: right;
}
:global .float_left {
	float: left;
}


// Inline block
:global .inline_block {
	display: inline-block;
}


// Flexbox
:global .flex_vertical {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
:global .flex_horizontal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	-webkit-box-orient: horizontal;
	-o-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	.flex_spacer {
		min-width: 1px;
	}
}
:global .flex_spacer {
	-webkit-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}


// Circle
:global .circle {
	font-size: 14px;
	border-radius: 999em;
	height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    padding: 0;
}


// Dropdown
:global .bubble_dropdown_container {
	position: relative;
}


// Custom buttons
:global .button_as_link {
	margin: 0;
	padding: 0;
	cursor: pointer;
	background: none;
	border: none;
}	









